.Coffee_Monochromatic-1-hex { color: #3D322B; }
.Coffee_Monochromatic-2-hex { color: #D6CAC1; }
.Coffee_Monochromatic-3-hex { color: #704F38; }
.Coffee_Monochromatic-4-hex { color: #FFD2B3; }
.Coffee_Monochromatic-5-hex { color: #FFB580; }

/* Color Theme Swatches in RGBA */
.Coffee_Monochromatic-1-rgba { color: rgba(61, 50, 43, 1); }
.Coffee_Monochromatic-2-rgba { color: rgba(214, 202, 193, 1); }
.Coffee_Monochromatic-3-rgba { color: rgba(112, 79, 56, 1); }
.Coffee_Monochromatic-4-rgba { color: rgba(255, 210, 179, 1); }
.Coffee_Monochromatic-5-rgba { color: rgba(255, 181, 128, 1); }

/* Color Theme Swatches in HSLA */
.Coffee_Monochromatic-1-hsla { color: hsla(23, 17, 20, 1); }
.Coffee_Monochromatic-2-hsla { color: hsla(25, 20, 79, 1); }
.Coffee_Monochromatic-3-hsla { color: hsla(24, 33, 32, 1); }
.Coffee_Monochromatic-4-hsla { color: hsla(24, 100, 85, 1); }
.Coffee_Monochromatic-5-hsla { color: hsla(25, 100, 75, 1); }

.Coffee_Complementary-1-hex { color: #386C70; }
.Coffee_Complementary-2-hex { color: #B09684; }
.Coffee_Complementary-3-hex { color: #704F38; }
.Coffee_Complementary-4-hex { color: #A3C2C4; }
.Coffee_Complementary-5-hex { color: #F0D4C0; }

/* Color Theme Swatches in RGBA */
.Coffee_Complementary-1-rgba { color: rgba(56, 108, 112, 1); }
.Coffee_Complementary-2-rgba { color: rgba(176, 150, 132, 1); }
.Coffee_Complementary-3-rgba { color: rgba(112, 79, 56, 1); }
.Coffee_Complementary-4-rgba { color: rgba(163, 194, 196, 1); }
.Coffee_Complementary-5-rgba { color: rgba(240, 212, 192, 1); }

/* Color Theme Swatches in HSLA */
.Coffee_Complementary-1-hsla { color: hsla(184, 33, 32, 1); }
.Coffee_Complementary-2-hsla { color: hsla(24, 21, 60, 1); }
.Coffee_Complementary-3-hsla { color: hsla(24, 33, 32, 1); }
.Coffee_Complementary-4-hsla { color: hsla(183, 21, 70, 1); }
.Coffee_Complementary-5-hsla { color: hsla(25, 61, 84, 1); }

/* Color Theme Swatches in Hex */
.Coffee_Shades-1-hex { color: #4D3626; }
.Coffee_Shades-2-hex { color: #F0AA78; }
.Coffee_Shades-3-hex { color: #704F38; }
.Coffee_Shades-4-hex { color: #C78D63; }
.Coffee_Shades-5-hex { color: #9E704F; }

/* Color Theme Swatches in RGBA */
.Coffee_Shades-1-rgba { color: rgba(77, 54, 38, 1); }
.Coffee_Shades-2-rgba { color: rgba(240, 170, 120, 1); }
.Coffee_Shades-3-rgba { color: rgba(112, 79, 56, 1); }
.Coffee_Shades-4-rgba { color: rgba(199, 141, 99, 1); }
.Coffee_Shades-5-rgba { color: rgba(158, 112, 79, 1); }

/* Color Theme Swatches in HSLA */
.Coffee_Shades-1-hsla { color: hsla(24, 33, 22, 1); }
.Coffee_Shades-2-hsla { color: hsla(24, 80, 70, 1); }
.Coffee_Shades-3-hsla { color: hsla(24, 33, 32, 1); }
.Coffee_Shades-4-hsla { color: hsla(25, 47, 58, 1); }
.Coffee_Shades-5-hsla { color: hsla(25, 33, 46, 1); }

.page {
    display: grid;
    place-items: center;
}

.page {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: fixed;
    background-color: rgba(112, 79, 56, 1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.login {
    margin-top: 7rem;
    width: 420px;
    background-color: #222a24b0;
    border: 2px solid #6D9B7C;
    backdrop-filter: blur(5px);
    /* color: black; */
    border-radius: 10px;
    padding: 3rem;
    padding-top: 0;
    padding:  40px;
  }
  
  .login h1 {
    text-align: center;
    padding-bottom: 2rem;
    color: #6D9B7C;
    font-size: 3.5rem;

}

.logo {
  width: 80%;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  font-size: 3.5rem;
  transform: translateX(8%);
}
  .login h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: #F1FCF4  ;
  }
  
  .login .form-group {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 2.7rem;
  }
  
  .form-group input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #6D9B7C;
    border-radius: 40px;
    color: #F1FCF4;
    font-size: 1.5rem;
    text-indent: 7%;
  }
  
  .form-group input::placeholder {
    color: #F1FCF4;
    transform: translateX(15px);
  }

  .form-group input::-ms-value {
    color: #F1FCF4;
    transform: translateX(15px);
  }

  .form-group input:focus {
    border: 2px solid #ffffff !important;
  }
  
  .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-15%);
    font-size: 20px;
    color: #6D9B7C;
  }
  
  .login button {
    width: 100%;
    height: 45px;
    background-color: #6D9B7C;
    border-radius: 35px;
    box-shadow: 0 0 10px #F1FCF4;
    cursor: pointer;
    font-size: 16px;
    color: #F1FCF4;
    font-weight: 600;
  }

  .login button:hover {
    border: 1px solid #F1FCF4;
    background-color: #76ababab;
  }
  
  .login .signup-link {
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0 15px;
  }
  
  .signup-link p a {
    color: #F1FCF4;
    text-decoration: none;
  }
  /* .signup-link p a:hover {
    background-color: #76ababe8;
    border: 1px solid #F1FCF4;
  } */



  .signup-link p {
    color: #6D9B7C;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .link:hover {
    text-decoration:underline;
  }
  
  .logout-btn {
    border-color: rgba(255, 255, 255, .2);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    width: 100%;
    height: 35px;
    cursor: pointer;
    background-color: transparent;
    -webkit-text-fill-color: aliceblue;
  }
  
  .logout-btn:hover {
    background-color: rgba(255, 255, 255, .2);
  }
  
  .logoutText {
    color: whitesmoke;
    margin-bottom: 10px;
  }