.login-page-border {
    display: grid;
    place-items: center;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 50%;
    height: 75%;
    margin-inline: auto;
    margin-top: 5%;
    border-radius: 25px;
    border: 4px solid #3C180E;
}

.response-msg-container {
  position: absolute;
  bottom: 0;
  translate: 10%;
  max-width: 90%;
  color: #3C180E;
  font-size: 1rem;
}

.login-page {
  display: grid;
  place-items: center;
    /* background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: papayawhip;
    margin-inline: auto;
  }

.login-container {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  background-color: #ffffffbc;
  border: 4px solid #3C180E;
  border-radius: 25px;
  backdrop-filter: blur(15px);
  /* min-width: 70%; */
}

.login-logo {
  max-width: 350px;
  align-self: center;
  grid-column: 1;
  border-right: 4px solid #B47034;
}

.login {
  margin-top: 7rem;
  width: 100%;
  border-radius: 10px;
  padding: 3rem;
  padding-top: 0;
  padding:  40px;
  grid-column: 2;
  margin-bottom: 60px;
}
  
  .login h1 {
    text-align: center;
    padding-bottom: 2rem;
    color: #3C180E;
    font-size: 3.5rem;

}

.logo {
  width: 80%;
  justify-content: center;
  align-self: center;
  justify-self: center;
  padding-bottom: 2rem;
  font-size: 3.5rem;
  transform: translateX(10%);
}
  .login h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: #3C180E  ;
  }
  
  .login .form-group {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 2.7rem;
  }
  
  .form-group input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #B47034;
    border-radius: 40px;
    color: black;
    /* font-size: 1.5rem; */
    text-indent: 7%;
  }
  
  .form-group input::placeholder {
    color: black;
    /* transform: translateX(15px); */
  }

  .form-group input::-ms-value {
    color: black;
    /* transform: translateX(15px); */
  }

  .form-group input:focus {
    border: 2px solid #3C180E !important;
  }
  
  .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color:#B47034;
  }
  
  .login button {
    width: 100%;
    height: 45px;
    background-color: #B47034;
    border-radius: 35px;
    box-shadow: 0 0 10px #F1FCF4;
    cursor: pointer;
    font-size: 16px;
    color: #F1FCF4;
    font-weight: 600;
  }

  .login button:hover {
    border: 1px solid #F1FCF4;
    background-color: #3C180E;
  }
  
  /* #3C180E #B47034 */

  .login .signup-link {
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0 15px;
  }
  
  .signup-link p a {
    color: #F1FCF4;
    text-decoration: none;
  }
  /* .signup-link p a:hover {
    background-color: #76ababe8;
    border: 1px solid #F1FCF4;
  } */



  .signup-link p {
    color: #B47034;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .signup-link p:hover {
    color: #3C180E;
  }
  
  .link:hover {
    text-decoration:underline;
  }
  
  .logout-btn {
    border-color: rgba(255, 255, 255, .2);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    width: 100%;
    height: 35px;
    cursor: pointer;
    background-color: transparent;
    -webkit-text-fill-color: aliceblue;
  }
  
  .logout-btn:hover {
    background-color: rgba(255, 255, 255, .2);
  }
  
  .logoutText {
    color: whitesmoke;
    margin-bottom: 10px;
  }