/* .teaCarousel {
} */
body {
    background-color: beige;
}

h1 {
    padding: 0;
    margin: 0;
    margin-inline: 10px;
}

h2 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.detailHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.thumbnail {
    width: 100px;
    height: 100px;
    display: block;
}

.teaCarouselContainer {
    display: flex;
    justify-content: space-evenly;
}

.teaCard {
    border: 2px solid black;
    aspect-ratio: 9/14;
    /* width: 10vw;  */
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 45px;
    overflow: hidden;
}

.teaName {
    position: bottom;
    align-self: center;
}

.teaImage {
    display: block;
    max-width: 100%;
    max-height: 80%;
}
