body {
    margin: 0;
    padding: 0;
}

.coffee-thumbnail{
    height: 200px;
    width: 200px;
}

/* AddCoffee.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .coffee-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.coffee-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.coffee-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.coffee-card h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.coffee-card p {
    flex-grow: 1;
}

.coffee-card h4 {
    margin-top: 10px;
}