body {
    margin: 0;
    padding: 0;
}

.body {
    min-height: 92.5vh;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.modal-content h1 {
    display: flex;
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 2px dotted black;
    padding-bottom: 10px;
}

.share-input {
    display: flex;
    margin: 5px;
    justify-content: left;
}

.share-input input {
    border-radius: 1px;
}

.input-description {
    border-radius: 1px;
    height: 20px;
    box-shadow: rgba(0, 0, 0, 0.379);
}

.input-description:focus {
    height: 100px;
    width: 100%;
}

.share-submit {
    display: flex;
    justify-content: center;
    margin: 10px;
    height: 33px;
    margin-top: 25px;
}

.share-button {
    width: 50%;
    border-radius: 45px;
}

.coffee-card {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 20px;
    margin-inline: 20%;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    margin-top: 30px
    ;
}

.coffee-header-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.coffee-header-image img {
    width: 100%;
    max-width: 100%;
    border-radius: 45px;
}

.coffee-header-image h1 {
    padding: 10px;
   padding-bottom: 30px;
}

.coffee-interactive-info {
    display: grid;
    grid-template-rows: 3fr 1fr;
}
.coffee-interactive-info p {
    justify-self: center;
    align-self: center;
    font-size: x-large;
}

.interactive-footer {
    display: flex;
    justify-content: space-evenly;    
}

.interactive-footer h4 {
    display: flex;
    /* border: 1px solid rgba(0, 0, 0, 0.281); */
    padding: 7px;
    border-radius: 10px;
    width: 18%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.add-a-coffee {
    margin-top: 20px;
    justify-content: center;
    display: flex;
}